{% if shows %}

<div class="flex justify-center mx-auto flex-col max-w-3xl" >
    {% for show in shows %}
    <div class="flex w-full flex-col p-2 mb-4 border border-cyan-700 rounded-md">
        <h3 class="text-2xl font-bold text-cyan-800 cursor-pointer">
            <a href="/slide/{{show.slug}}">{{ show.title }}</a>
        </h3>
        <p class="text-cyan-600 text-sm cursor-pointer pt-4 hover:text-cyan-500" hx-get="/slideshows" hx-headers='{"Show-ID": "{{show.id}}"}' hx-target="#abstract_{{show.id}}">+ description</p>
        {% block show_abstract %}
        <div id="abstract_{{show.id}}">
            {% for paragraph in abstract_list %}
            <p class="pt-4">{{paragraph}}</p>
            {% endfor %}

        {% endblock %}
        </div>
        <p class="pt-4 font-bold"><span>Length:</span> {{ show.length_in_minutes }} minutes</p>
    </div>
    {% endfor %}
</div>
{% else %}
<div>
    <p class="text-lg text-rose-600 text-center">No slideshows in your list as of yet.</p>
</div>
{% endif %}